<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="brand" sticky>
    <th class="header" mat-header-cell cdkOverlayOrigin #trigger="cdkOverlayOrigin" [class.open]="brandFilterOpen"
        (click)="brandFilterOpen = !brandFilterOpen" *matHeaderCellDef>
      <div class="table-head">
        <p>Бренд</p>
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="#637381">
          <path
            d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
        </svg>
      </div>
      <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                   [cdkConnectedOverlayOpen]="brandFilterOpen" (overlayOutsideClick)="brandFilterOpen=false">
        <div class="filterOverlay">
          <mat-form-field class="filter">
            <input matInput placeholder="Фильтр" [formControl]="brandFilter">
          </mat-form-field>
          <div class="button-container">
            <button mat-flat-button color="primary"
                    (click)="applyFilters('brand',brandFilter.getRawValue()!.toLowerCase())">ОК
            </button>
            <button mat-stroked-button color="warn" (click)="applyFilters('brand','')">Сбросить</button>
          </div>
        </div>

      </ng-template>
    </th>
    <td mat-cell *matCellDef="let element">{{element.brand}}</td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th class="header" mat-header-cell *matHeaderCellDef cdkOverlayOrigin #trigger="cdkOverlayOrigin"
        [class.open]="idFilterOpen"
        (click)="idFilterOpen = !idFilterOpen">
      <div class="table-head">
        <p>Артикул</p>
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="#637381">
          <path
            d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
        </svg>
      </div>
      <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                   [cdkConnectedOverlayOpen]="idFilterOpen" (overlayOutsideClick)="idFilterOpen=false">
        <div class="filterOverlay">
          <mat-form-field class="filter">
            <input matInput placeholder="Фильтр" [formControl]="idFilter">
          </mat-form-field>
          <div class="button-container">
            <button mat-flat-button color="primary" (click)="applyFilters('id',idFilter.getRawValue())">ОК</button>
            <button mat-stroked-button color="warn" (click)="applyFilters('id','')">Сбросить</button>
          </div>
        </div>

      </ng-template>
    </th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th class="header" mat-header-cell *matHeaderCellDef cdkOverlayOrigin #trigger="cdkOverlayOrigin"
        [class.open]="nameFilterOpen"
        (click)="nameFilterOpen = !nameFilterOpen">
      <div class="table-head">
        <p>Наименование товара</p>
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="#637381">
          <path
            d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
        </svg>
      </div>
      <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                   [cdkConnectedOverlayOpen]="nameFilterOpen" (overlayOutsideClick)="nameFilterOpen=false">
        <div class="filterOverlay">
          <mat-form-field class="filter">
            <input matInput placeholder="Фильтр" [formControl]="nameFilter">
          </mat-form-field>
          <div class="button-container">
            <button mat-flat-button color="primary"
                    (click)="applyFilters('name',brandFilter.getRawValue()!.toLowerCase())">ОК
            </button>
            <button mat-stroked-button color="warn" (click)="applyFilters('name','')">Сбросить</button>
          </div>
        </div>

      </ng-template>
    </th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>
  <ng-container matColumnDef="cost">
    <th class="header" mat-header-cell *matHeaderCellDef cdkOverlayOrigin #trigger="cdkOverlayOrigin"
        [class.open]="costFilterOpen"
        (click)="costFilterOpen = !costFilterOpen">
      <div class="table-head">
        <p>Цена</p>
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="#637381">
          <path
            d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
        </svg>
      </div>
      <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                   [cdkConnectedOverlayOpen]="costFilterOpen" (overlayOutsideClick)="costFilterOpen=false">
        <div class="filterOverlay">
          <mat-form-field class="filter">
            <input matInput placeholder="Фильтр" [formControl]="costFilter">
          </mat-form-field>
          <div class="button-container">
            <button mat-flat-button color="primary"
                    (click)="applyFilters('cost',costFilter.getRawValue()?.length?costFilter.getRawValue():'')">ОК
            </button>
            <button mat-stroked-button color="warn" (click)="applyFilters('cost','')">Сбросить</button>
          </div>
        </div>

      </ng-template>
    </th>
    <td mat-cell *matCellDef="let element">{{element.cost}}</td>
  </ng-container>
  <ng-container matColumnDef="availability">
    <th class="header" mat-header-cell *matHeaderCellDef cdkOverlayOrigin #trigger="cdkOverlayOrigin"
        [class.open]="availabilityFilterOpen"
        (click)="availabilityFilterOpen = !availabilityFilterOpen">
      <div class="table-head">
        <p>В наличии</p>

        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="#637381"><path d="m280-400 200-200 200 200H280Z"/></svg>
      </div>

      <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                   [cdkConnectedOverlayOpen]="availabilityFilterOpen"
                   (overlayOutsideClick)="availabilityFilterOpen=false">
        <div class="filterOverlay">

          <div class="filter filter-checkbox">
            <mat-slide-toggle [(ngModel)]="availabilityFilter"/>
            <mat-label>В наличии</mat-label>
          </div>
          <div class="button-container">
            <button mat-raised-button color="primary" (click)="applyFilters('availability',availabilityFilter?'true':'')">
              ОК
            </button>
          </div>
        </div>
      </ng-template>

    </th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="{'active':element.availability}">{{element.availability ? 'В наличии' : 'Нет в наличии'}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" class="dark-gray-background"></tr>
  <tr mat-row
      *matRowDef="let element; columns: displayedColumns; let i = index" [ngClass]="{'gray-background':i%2===1}"></tr>
</table>
